pipeline/NYC_Pipeline.json
{
	"name": "NYC_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.RelativeUrl",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "NYC_Data_Copy_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NYC_Source_Data",
									"type": "DatasetReference",
									"parameters": {
										"RelativeUrlValue": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "NYC_Taxi_Blob_Sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "NYC_Data_Copy_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "2013/Weather",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NYC_Taxi_Blob_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NYC_Taxi_ADLS_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "NYC_Data_Copy_SQLPool",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create_Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "2013/Weather",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"preCopyScript": {
							"value": "IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = '[NYC_Taxi_Data_Schema].[NYC_Taxi_Data_Table]')\nBEGIN\nEXEC('CREATE TABLE [NYC_Taxi_Data_Schema].[NYC_Taxi_Data_Table]\n(\n    [DateID] int NOT NULL,\n    [GeographyID] int NOT NULL,\n    [PrecipitationInches] float NOT NULL,\n    [AvgTemperatureFahrenheit] float NOT NULL\n)')\nselect Count(*) from sys.symmetric_keys;\nEND\nELSE\nBEGIN\n    select Count(*) from sys.symmetric_keys;\nEND",
							"type": "Expression"
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NYC_ADLS_Taxi_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NYC_Taxi_Data_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Create_Schema",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "NYC_Data_Copy_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": {
							"value": "IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'NYC_Taxi_Data_Schema')\nBEGIN\nEXEC('CREATE SCHEMA NYC_Taxi_Data_Schema')\nselect Count(*) from sys.symmetric_keys;\nEND\nELSE\nBEGIN\n    select Count(*) from sys.symmetric_keys;\nEND",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NYC_Taxi_Data_Schema",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"RelativeUrl": {
				"type": "array",
				"defaultValue": [
					"2013/Weather/QID6431_20171107_10617_0.txt",
					"2013/Weather/QID6431_20171107_10617_1.txt",
					"2013/Weather/QID6431_20171107_10617_2.txt",
					"2013/Weather/QID6431_20171107_10617_3.txt",
					"2013/Weather/QID6431_20171107_10617_4.txt",
					"2013/Weather/QID6431_20171107_10617_5.txt",
					"2013/Weather/QID6431_20171107_10617_6.txt",
					"2013/Weather/QID6431_20171107_10617_7.txt",
					"2013/Weather/QID6431_20171107_10617_8.txt",
					"2013/Weather/QID6431_20171107_10617_9.txt",
					"2013/Weather/QID6431_20171107_10617_10.txt"
				]
			}
		},
		"folder": {
			"name": "NYC_Taxi_Data_Loading"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-16T08:16:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}